<div class="currency-conversion-container">
  <form [formGroup]="currencyConversionForm">
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount"/>

      <mat-error *ngIf="currencyConversionForm.get('amount')?.hasError('invalidValue')">
        Amount should be 0 or greater than 0 and only numbers are allowed.
      </mat-error>

      <mat-error *ngIf="currencyConversionForm.get('amount')?.hasError('required')">
        Amount is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Convert to</mat-label>
      <mat-select formControlName="currency">
        <mat-option *ngFor="let currency of currenciesToSelect" [value]="currency">
          {{currency.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Result</mat-label>
      <input matInput formControlName="result" readonly/>
    </mat-form-field>
  </form>
</div>
